# DEV folder
/archive
/design
/png
/azure

# Other files
Feedback.txt
logo_TFB_nb.png

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# MacOS
.DS_Store

# Logs
logs/
*.log

# Build folders
dist/
build/

# IDEs
.vscode/
.idea/

# Optional: OS-specifieke bestanden
Thumbs.db